@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-top: 80px !important;
    }

    
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 20px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
    box-shadow: 8px 14px 31px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 8px 14px 31px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 8px 14px 31px 2px rgba(0,0,0,0.46);
    border-bottom: 2px solid black;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link,
.footer-brand {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
    font-size: 26px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 400;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 100%;
    opacity: 1;
    right: 0;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .nav-item:first-child {
        margin-top: 20px;
    }

    .burger-menu {
        display: flex;
        margin-right: 15px;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.main-content {
    margin-top: 50px;
}

.navigation {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-between;
    }
}

.nav-list {
    display: flex;
    gap: 14px;
    list-style: none;
}

.nav-item {
    position: relative;
}

.hide {
    top: -100px; /* Или любое другое значение, чтобы скрыть хедер */
}

@media (max-width: 730px) {
    .burger-menu {
        display: flex;
        z-index: 10000;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Изменяем на колонку для бокового меню */
        background-color: #ffffff;
        position: fixed; /* Фиксируем меню */
        top: 0;
        right: -250px; /* Скрываем за пределами экрана */
        width: 250px; /* Ширина меню */
        height: 100%; /* Высота на весь экран */
        transition: right 0.3s ease; /* Анимация */
        z-index: 999; /* Указываем z-index */
        border-left: 2px solid #000000;
    }
    .nav-list.active {
        display: flex;
    }
    .nav-link-underline {
        border: none;
    }
}

@media (max-width:426px) {
    
    .burger-line{
        background-color: rgb(0, 0, 0);
    }
    .main-content{
        margin-top: 0;
    }
    .slider-header{
        margin-top: 0;
    }
    .nav-list{
        top: 0;
    }
    
}

.footer {
    background-color: white;
    color: #000000; /* White text color */
    padding: 20px;
    text-align: center;
    margin-top: auto;
    box-shadow: 6px -7px 31px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 6px -7px 31px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 6px -7px 31px 2px rgba(0,0,0,0.46);
    border-top: 2px solid black;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
}

.footer-details {
    margin-bottom: 15px; /* Space between brand and links */
}

.footer-links {
    margin-bottom: 15px; /* Space below links */
}

.footer-links a {
    color: #000000; /* White color for links */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Space between links */
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 400;
}

.footer-rights {
    font-size: 14px; /* Similar size for rights statement */
    margin-top: 15px; /* Space above this statement */
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    color: #0012b2;
}

.contact-footer {
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    
    .footer-links {
        flex-direction: column; /* Stack links vertically on smaller screens */
        align-items: center; /* Center links */
    }
    
    .footer-links a {
        margin: 5px 0; /* Space between stacked links */
    }
}

.promo-section {
    margin-top: -46px;
    background-image: url('img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.promo-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.promo-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

.promo-content h2 {
    font-size: 4.0em;
    margin: 0;
}

.promo-content p {
    font-size: 1.6em;
    margin: 0;
    font-weight: 100;
}

.menu-button {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #ffd814;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-size: 24px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

@media (max-width: 768px) {
    .promo-content h2 {
        font-size: 2.2em;
    }
    .promo-content p {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .promo-content h2 {
        font-size: 1.5em;
    }
    .promo-content p {
        font-size: 1.0em;
    }
}

.info-brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.info-brand-flex-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.info-brand-flex {
    text-align: center;
    padding: 20px;
}

.info-brand-block {
    flex: 1 1 45%;
    display: flex;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
}

.info-brand-content {
    padding: 20px;
    flex: 1;
}

.info-brand-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info-brand-description {
    font-size: 1em;
}

.info-brand-image {
    width: 40%;
    object-fit: cover;
}

.name-section-title {
    font-size: 2.5rem;
    color: #333;
    margin: 0 0 20px;
}

.name-section-text {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .name-section-title {
        font-size: 2rem;
    }
    
    .name-section-text {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .name-section-title {
        font-size: 1.5rem;
    }
    
    .name-section-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .info-brand-block {
        flex-direction: column;
    }

    .info-brand-image {
        width: 100%;
    }
}



.company-history {
    padding-left: 20px;
    padding-right: 20px;
}
.about-title {
    font-size: 2.5em;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    font-size: 1.2em;
    color: #495057;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .about-title {
        font-size: 2em;
    }

    .about-text {
        font-size: 1em;
    }
}




.product-applications {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    
}

.applications-blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}

.applications-image-block {
    flex: 1 1 30%;
    margin: 10px;
}

.product-applications-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.applications-text-block {
    flex: 1 1 55%;
    margin: 10px;
}

.applications-text-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.applications-product-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 400;
}

.applications-benefits-list {
    list-style-type: none;
    padding-left: 20px;
}

.applications-benefits-list li {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .applications-blocks-container {
        flex-direction: column;
        gap: 25px;
    }

    .applications-image-block, .applications-text-block {
        flex: 1 1 100%;
    }
}



.store-gallery__concept-section {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.store-gallery__concept-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.store-gallery__concept-team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.store-gallery__concept-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(33% - 20px);
    transition: transform 0.3s;
}

.store-gallery__concept-card:hover {
    transform: scale(1.05);
}

.store-gallery__concept-card img {
    max-width: 100%;
    border-radius: 5px;
}

.store-gallery__concept-card h3 {
    color: #333;
    margin: 10px 0;
}

.store-gallery__concept-card p {
    color: #666;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .store-gallery__concept-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .store-gallery__concept-card {
        width: calc(100% - 20px);
    }
}

.store-gallery__learn-more-btn {
    display: inline-block;
    background-color: #a6ff00;
    color: #34495e;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}






.gallery-section {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.05);
}



@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery-title {
        font-size: 1.5em;
    }
}

.reviews-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.reviews-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #ff6b00;
    margin: 0 auto 20px;
}

.subheading {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.review {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.review h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.review p {
    color: #555;
    line-height: 1.6;
    font-size: 1.1rem;
}

.review-img{
    width: 150px;
    border-radius: 100px;
}

















@media (min-width: 1025px) {
    .header-link:hover,
    .footer-brand:hover {
        color: #0012b2;
    }
    .nav-link:hover {
        color: #0012b2;
        border-bottom: 2px solid #0012b2;
    }
    .footer-links a:hover {
        color: #0012b2;
        border-bottom: 2px solid #0012b2;
    }
    .contact-footer:hover {
        color: black;
    }
    .menu-button:hover {
        background-color: #dbb807;
    }
}




.reviews-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.reviews-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #000000;
    margin: 0 auto 20px;
}

.subheading {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.review {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.review h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.review p {
    color: #555;
    line-height: 1.6;
    font-size: 1.1rem;
}